// COLORS
$color-grey: #525355;
$color-grey-light: #898989;

$color-white: #ffffff;
$color-black: #171717;
$color-black-plus: #231f20;

$color-yellow: #ffde00;

// FONT
$default-font-size: 12;

// 12rem 14rem 10 20
$wrapper: 1440;
$container: 990;
